

body {
    font-size: 16px;
    font-family: 'DM Serif Display', 'Karla', sans-serif;
}

section {
    font-family: 'Karla';
}

.navbar, .btn, #account {
    text-transform: uppercase;
}

.navbar {
    height: 80px;
}

.navbar-brand {
    margin-left: 10%;
}

.d-flex {
    margin-right: 10%;
}

.header {
    display: flex;
    flex-direction: row;
    background: hsl(256, 26%, 20%);
    color: white;
    height: 600px;
}

.header-left {
    margin: 90px 10%;
    width: 600px;
}

.header-first{
    font-size: 80px;
    line-height: 1;
    font-weight: bold;
    font-family: 'DM Serif Display';
}

.btn {
    width: 150px;
}

.diy-button {
    background: hsl(256, 26%, 20%);
    color: white;
    border: 1px solid white;
}

.diy-button:hover {
    background: white;
    color: black;
    font-weight: bold;
}

hr {
    width: 130px;
    background-color: rgb(180, 179, 179);
    margin-bottom: 50px;
}

.mobile {
    display: none;
}

.header-image {
    position: absolute;
    left: 60%;
    top: 180px;
}

.bg-left {
    position: absolute;
    top: 50%;
}

.bg-right {
    position: absolute;
    left: 76%;
}

#blog {
    margin: 10%;
}

#blog h1 {
    font-family: 'DM Serif Display';
    margin-bottom: 50px;
}

.middle-first img {
   margin-bottom: 30px;
}

.a {
    font-size: 25px;
    font-weight: bold;
    font-family: 'DM Serif Display';
}

.b {
    color: grey;
}

#how-we-work {
    display: flex;
    flex-direction: row;
    background: url(images/bg-pattern-how-we-work-desktop.svg) right no-repeat, hsl(256, 26%, 20%);
    color: white;
    height: 260px;
    margin: 5% 10%;
    padding: 60px;
}

#how-we-work h1 {
    font-family: 'DM Serif Display';
    margin-left: 20px;
    font-size: 55px;
}

#how-we-work .btn {
    margin-left: 45%;
    height: 40px;
    margin-top: 4%;
    width: 200px;
}

#account {
    background: url(images/bg-pattern-footer-desktop.svg) left top no-repeat, hsl(0, 0%, 98%);
    padding: 30px 0;
}

#account hr {
    margin: 10px 10% 30px;
    width: auto;
}

.first-line {
    display: flex;
    flex-direction: row;
}

.account-image {
    margin-left: 63%;
}

.account-image img {
    margin: 10px;
    cursor: pointer;
}

.second-line {
    margin: 0 10%;
}

.link-a {
    font-weight: bold;
    color: grey;
    margin-bottom: 30px;
}

.link-b {
    font-weight: bold;
    color: hsl(270, 9%, 17%);
    margin-bottom: 10px;
    font-size: 14px;
}

.link-b:hover {
    cursor: pointer;
    text-decoration: underline;
}

.attribution {
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}
  
.attribution a {
    color: hsl(36, 79%, 50%);
}


@media (min-width: 768px) and (max-width: 1000px) {

.header-first {
    font-size: 50px;
}

.header-left {
    width: 400px;
}

.desktop {
    display: none;
}

.mobile {
    display: block;
    width: 110%;

}

.header-image {
    top: 260px;
    left: 55%;
}

.bg-left {
    width: 20%;
}

.bg-right {
    width: 30%;
    left: 69%;
}

#blog {
    margin-top: 20%;
}

#how-we-work h1 {
    font-size: 35px;
}

#how-we-work .btn {
    margin-left: 30%;
    margin-top: 6%;
    width: 250px;
}

.account-image {
    margin-left: 45%;
}

}

@media (min-width: 320px) and (max-width: 700px){

.desktop {
    display: none;
}
.mobile {
    display: block;
}

/* .header {
    display: flex;
    flex-direction: column-reverse;
}

.header-image {
    position: relative;
    left: 50px;
    top: 66.5%;
    z-index: 0;
}

.bg-left, .bg-right {
    position: absolute;
}


.header-left {
    margin-top: 80%;
} */


#how-we-work {
    flex-direction: column;
}

#how-we-work h1 {
    font-size: 30px;
}

#how-we-work .btn {
    margin-left: 9%;
    margin-top: 6%;

}

.first-line {
    flex-direction: column;
}

.account-image {
    margin-left: 30%;
}

.first-line .navbar-brand {
    margin-left: 38%;
}

#blog {
    margin-top: 35%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.collapse {
    height: 300px;
    background: url(images/bg-pattern-mobile-nav.svg) bottom no-repeat, hsl(256, 26%, 20%);
    text-align: center;
}

}
